.row{
    background-color: hsl(226, 95%, 41%);
}
footer{
    color: #f9fafc;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 2px 2px 5px #476af7;
}