<section class="formulario1">
    <div class = "container">
        <div class="py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">
              
                          <div class="mb-md-5 mt-md-4 pb-5">
    
            <div>
                <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                    <h3 class ="display-5 text-primary text center">AGREGAR SKILL</h3>
                    <p></p>
    
                    <div class = "form-group">
                        <label for = "nombre">Nombre de la skill</label>
                        <input type= "text" placeholder = "Intro nombre de la skill" class="form-control" id="nombre" name = "nombre"[(ngModel)]="nombre" required>
                    </div>
                    <p></p>
                    <div class = "form-group">
                        <label for = "porcentaje">Porcentaje</label>
                        <input type= "text" placeholder = "Intro porcentaje" class="form-control" id="porcentaje" name = "porcentaje"[(ngModel)]="porcentaje" required>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <div> <button class = "btn btn-outline-primary">
                        Confirmar
                    </button></div>
              
                </form>
            </div>
        </div>
                </div>
              </div>
            </div>
         </div>
       </div>
    </div>
    </section>
    
